#tz-menu-wrapper {
  #plazart-mainnav {
    margin: 0;
    border: none;
    .navbar-collapse {
      padding: 0;
    }
  }
  border-top: 1px solid @plazart-border-color;
  border-bottom: 1px solid @plazart-border-color;
}
#tz-header-wrapper {
  padding: 20px 0;
}

#tz-position-7 {
  .nav > {
    li > {
      a {
        display: block;
        padding: 4px 20px;
        &:hover, &:focus {
          background-color: transparent;
          border-left: 1px solid @link-hover-color;
          padding-left: 19px;
          text-decoration: none;
        }
      }
    }
  }
  .nav .open > a {
    background-color: transparent;
  }
  .nav-pills li.active > a {
    background-color: transparent;
    border-left: 1px solid @link-hover-color;
    padding-left: 19px;
    text-decoration: none;
    border-radius: 0;
    color: darken(@link-color,30%);
  }
}
