.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media (max-width: 767px) {
  .plazart-megamenu .mega-inner {
    padding: 10px 20px;
  }
  .plazart-megamenu .row-fluid,
  .plazart-megamenu .mega-dropdown-menu,
  .plazart-megamenu .row-fluid [class*="span"] {
    width: 100% !important;
    min-width: 100% !important;
    left: 0 !important;
    margin-left: 0 !important;
    transform: none !important;
    -webkit-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -o-transform: none !important;
  }
  .plazart-megamenu .row-fluid + .row-fluid {
    padding-top: 10px;
    border-top: 1px solid #eee;
  }
  .plazart-megamenu .hidden-collapse,
  .plazart-megamenu .always-show  .caret,
  .plazart-megamenu .sub-hidden-collapse > .nav-child,
  .plazart-megamenu .sub-hidden-collapse .caret,
  .plazart-megamenu .sub-hidden-collapse > a:after,
  .plazart-megamenu .always-show .dropdown-submenu > a:after {
    display: none !important;
  }
  .plazart-megamenu .mega-inner {
    padding: 10px 20px;
  }
  .plazart-megamenu .row-fluid,
  .plazart-megamenu .mega-dropdown-menu,
  .plazart-megamenu .row-fluid [class*="span"] {
    width: 100% !important;
    min-width: 100% !important;
    left: 0 !important;
    margin-left: 0 !important;
    transform: none !important;
    -webkit-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -o-transform: none !important;
  }
  .plazart-megamenu .row-fluid + .row-fluid {
    padding-top: 10px;
    border-top: 1px solid #eee;
  }
  .plazart-megamenu .hidden-collapse,
  .plazart-megamenu .always-show  .caret,
  .plazart-megamenu .sub-hidden-collapse > .nav-child,
  .plazart-megamenu .sub-hidden-collapse .caret,
  .plazart-megamenu .sub-hidden-collapse > a:after,
  .plazart-megamenu .always-show .dropdown-submenu > a:after {
    display: none !important;
  }
}
@media (max-width: 767px) {
  .plazart-megamenu .mega-inner {
    padding: 10px 20px;
  }
  .plazart-megamenu .row-fluid + .row-fluid {
    border-top: 1px solid #999;
  }
  .plazart-megamenu .span12.mega-col-nav .mega-inner {
    padding: 0;
  }
  .plazart-megamenu .mega-nav > li a,
  .plazart-megamenu .dropdown-menu .mega-nav > li a {
    padding: 5px 20px;
  }
  .plazart-megamenu .plazart-module {
    margin-bottom: 0;
  }
}
